<nav>
    <ul class="navUl" id="myLinks">
        {% for item in site.data.navigation %}
        <li>
            <a 
                href="{{ item.link }}"
                {% if page.url == item.link %}class="current navA"
                {% else %}class="navbarlink navA"{% endif %}
            >
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h1>@mak448a</h1>

    <a href="javascript:void(0);" class="icon burger" style="color: var(--text)" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</nav>