<nav>
    <ul class="navUl" id="myLinks">
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}" 
            class="navbarLink navA 
            {% if item.link == page.url %}activeLink{% endif %}
            ">
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h1>
        <a href="/" class="mak448a">@mak448a</a>
    </h1>

    <a href="javascript:void(0);" class="icon burger" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</nav>