:root {
    --text: rgb(38, 71, 32);
    --highlight: rgb(58, 255, 147);
    --secondary: rgb(46, 204, 117);
    --link-color: rgb(15, 97, 15);
    --background: rgb(255, 255, 255);
    --active-link: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #c3edbb;
        --highlight: #00A964;
        --secondary: #25A35E;
        --background: #181A1B;
        --active-link: white;
        --link-color: #B1D9AA;
    }
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--background);
}


.navbarLink {
    color: var(--link-color);
}


h1, h2, h3, h4, h5, h6, p {
    color: var(--text);
}

.centerText {
    text-align: center;
}

nav {
    background-color: var(--highlight);
    padding: .2rem 2rem 0 .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: -.5rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    box-sizing: border-box;
}

.navUl {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navA {
    text-decoration: none;
    color: var(--text);
    display: block;
}
.navA:hover {
    text-decoration: underline;
}

.burger{
    padding: .5rem 1rem .5rem 1rem;
    display: none;
    color:black;
}


.burger:hover {
    background-color: var(--secondary)
}

@media (max-width: 680px) {
    nav {
        flex-direction: column;
    }

    .navUl {
        flex-direction: column;
        order: 1;
        font-size: 1.5rem;
        gap: 1.5rem;
        display:none
    }

    .burger{
        display: block;
        padding-bottom: 1rem;
        padding-right: 52.5vw;
        padding-left: 50vw;
    }
    
}


.mak448a {
    text-decoration: none;
    color: var(--text);
}
.mak448a:hover {
    text-decoration: underline;
}

li {
    list-style-position: inside;
    color: var(--text)
}

.activeLink {
    color: var(--active-link);
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
}