:root {
    --text: rgb(38, 71, 32);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbarLink {
    color: rgb(15, 97, 15);
}


h1, h2, h3, h4, h5, h6, p {
    color: var(--text);
}

.centerText {
    text-align: center;
}

nav {
    background-color: rgb(58, 255, 147);
    padding: .2rem 2rem 0 .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: -.5rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    box-sizing: border-box;
}

.navUl {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navA {
    text-decoration: none;
    color: var(--text);
    display: block;
}
.navA:hover {
    text-decoration: underline;
}

.burger{
    padding: .5rem 1rem .5rem 1rem;
    display: none;
    color:black;
}


.burger:hover {
    background-color: rgb(46, 204, 117);
}

@media (max-width: 680px) {
    nav {
        flex-direction: column;
    }

    .navUl {
        flex-direction: column;
        order: 1;
        font-size: 1.5rem;
        gap: 1.5rem;
        display:none
    }

    .burger{
        display: block;
        padding-bottom: 1rem;
        padding-right: 52.5vw;
        padding-left: 50vw;
    }
    
}


.mak448a {
    text-decoration: none;
    color: var(--text);
}
.mak448a:hover {
    text-decoration: underline;
}

li {
    list-style-position: inside;
    color: var(--text)
}

.activeLink {
    color: black;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
}