<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="index.js" defer></script> -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{page.title}} - mak448a</title>
    <link rel="icon" href="/assets/img/pfp.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="google-site-verification" content="KiMAIU1zj29TDetRpvI8wFlw6KDgocdsK_wYU4_zzos" />
    <script src="/assets/js/script.js" defer></script>
    <meta name="description" content="{{page.description}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        {{content}}
        <p style="margin-left: 1rem;">&copy; mak448a 2024</p>
        <script src="/assets/js/script.js"></script>
    </main>
</body>
</html>
