<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" 
    content="
        Hello! I'm mak448a.
        I like to program, develop games, and make websites in my spare time.
    "
    >
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/assets/img/icon.png">
    <!-- Google site verification tag -->
    <meta name="google-site-verification" content="fJU3xqrxOGieQB1684l6K5uSSSBmhUKL72Jm7MkXtoU" />
</head>
<body>
    <!-- Navigation bar from _includes/navigation.html -->
    {% include navigation.html %}
    <!-- Content from page -->
    {{content}}
    <!-- Contact information -->
    <div class="centerText">
        <h2>Contact Me</h2>
        <ul>
            <li><strong>altaccountformy</strong> on Discord</li>
            <li><a href="https://github.com/mak448a/">GitHub</a></li>
        </ul>
        <p>&copy; mak448a 2022</p>
        <script src="/assets/js/script.js"></script>
    </div>
    
</body>
</html>
