<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/hiroki.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/assets/img/icon.png">
</head>
<body>
    <!-- Navigation bar from _includes/hirokinavigation.html -->
    {% include hirokinavigation.html %}
    <!-- Content from page -->
    {{content}}
    
    <div class="centerText">
        <p>&copy; mak448a 2022</p>
        <script src="/assets/js/script.js"></script>
        <script src="/assets/js/hiroki.js"></script>
    </div>
    
</body>
</html>